@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#map-wrapper {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: calc(100% - 250px);
}

#map-wrapper img.map-bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map-marker {
    position: absolute;
    z-index: 0;
    width: 30px;
    height: 30px;
    background-color: #8BDA6A;
    border-radius: 50%;
    border: black solid 10px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.map-marker.not-active {
    opacity: 0.8;
    background-color: #989898;
    border: #171717 solid 10px;
}

.filters-bar {
    display: flex;
}

.filter-btn {
    flex-grow: 1;
    cursor: pointer;
    background-color: #8BDA6A; /* Green */
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 31px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px 22px;
    display: inline-block;
    height: 80px;
    min-width: 130px;
    line-height: 56px;
    border-radius: 15px;
    margin: 0 10px;
}

.filter-btn:first-child {
    margin-left: 0;
}

.filter-btn:last-child {
    margin-right: 0;
}

.community-bg {
    background-color: #FFE971;
}
.youth-bg {
    background-color: #D2A177;
}
.agriculture-bg {
    background-color: #F57282;
}
.education-bg {
    background-color: #8EEDD4;
}

.marker-campaign {
    display: none;
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: -240px;
    opacity: 0;
}

.marker-campaign.bottom {
    top: -240px;
    bottom: initial;
}

.marker-campaign.left {
    right: 10px;
    left: initial;
}

.map-marker:hover {
    z-index: 10;
}

.map-marker:hover .marker-campaign {
    display: block;
    animation: fadeIn 0.2s ease-in-out forwards;
}

.total-progress-bar {
    position: absolute;
    text-align: left;
    bottom: 0;
    width: 100%;
    /*height: 120px;*/
}

.total-progress-bar h2 {
    font-size: 31px;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    margin: 0 0 10px 0;
}

.total-progress-bar h4 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    opacity: 0.6;
    margin: 0 0 30px 0;
}

.total-progress-bar .dot {
    width: 5px;
    height: 6px;
    background: #333333;
    opacity: 0.6;
    border-radius: 3px;
    display: inline-block;
    margin: 4px 7px 3px;
}
