@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#map {
    position: relative;
    width: 100vw;
    height: 86.1vw;
    overflow: hidden;
}

#map-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#map img.map-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map-marker {
    position: absolute;
    z-index: 0;
    width: 30px;
    height: 30px;
    background-color: #FFE971;
    border-radius: 50%;
    border: black solid 10px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.marker-campaign {
    display: none;
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: 20px;
    opacity: 0;
}

.marker-campaign.bottom {
    top: 10px;
    bottom: initial;
}

.marker-campaign.left {
    right: 10px;
    left: initial;
}

.map-marker:hover {
    z-index: 10;
}

.map-marker:hover .marker-campaign {
    display: block;
    animation: fadeIn 0.2s ease-in-out forwards;
}
